# Back-compat for T73060: Redirect mediawiki-core/master/php/html/ to mediawiki-core/master/php/
RewriteEngine On
RewriteRule ^mediawiki-core/master/php/html/(.*)$ https://doc.wikimedia.org/mediawiki-core/master/php/$1 [L,QSA]
