jenkins-autodeploy
/localhost/qunit/
/org/wikimedia/integration/WLMMobile/nightly/
/org/wikimedia/integration/WikipediaMobile/nightly/
/org/wikimedia/integration/WiktionaryMobile/nightly/
/org/wikimedia/integration/coverage/
/org/wikimedia/integration/nightly/
/org/wikimedia/doc/mediawiki-core/
/org/wikimedia/doc/puppet/
/org/wikimedia/doc/puppetsource/
