# Puppet (ops, jenkins, ..)
/deployment
/ssd
/localhost/qunit/

# Automated publications
/org/wikimedia/doc/*
/org/wikimedia/integration/cover
/org/wikimedia/integration/nightly
/org/wikimedia/integration/WikipediaMobile/nightly/
/org/wikimedia/integration/WiktionaryMobile/nightly/
/org/wikimedia/integration/WLMMobile/nightly/
jenkins-autodeploy

# Development
/vendor
composer.lock
