.cover-nav {
	display: flex;
}

.wm-nav .cover-item {
	display: flex;
}

.cover-item-meter {
	display: flex;
	flex-flow: column;
	margin-right: 1rem;
	width: 100px;
	text-align: center;
	font-size: 1.2rem;
}
