.cover-nav {
	display: flex;
}

.cover-list {
	margin: 1rem 0;
	width: 100%;
	border-collapse: collapse;
}
.cover-list td {
	border: 1rem solid transparent;
}
.cover-item-meter a,
.cover-item-name a {
	display: block;
	white-space: nowrap;
	padding: 0.5rem 0;
	color: inherit;
	text-decoration: none;
}
.cover-list tr:has(a:hover) {
	background: var( --background-color-interactive-subtle );
}
.cover-list tr:has(td:not(.cover-item-extra) a:hover) .cover-item-name a {
	text-decoration: underline;
}

.cover-item-meter {
	width: 10%;
	font-size: 1.2rem;
}
.cover-item-meter meter {
	width: 100px;
	margin-right: 1rem;
}
.cover-item-meter-pc {
	display: inline-block;
	text-align: right;
	min-width: 3rem;
}

.cover-item-name {
	width: max-content;
	min-width: 50%;
}
.cover-item-name a::before {
	display: inline-block;
	content: "";
	border-left: var( --border-base );
	padding-left: 1rem;
	height: 1em;
	vertical-align: middle;
}

.cover-item-mtime {
	width: 10%;
	text-align: right;
	font-size: 1.2rem;
	white-space: nowrap;
}

.cover-item-extra {
	width: 10%;
	text-align: right;
}
