.cover-nav {
	display: flex;
}

.wm-nav .cover-item {
	display: flex;
	align-items: center;
}

.cover-item-meter {
	order: -1;
	padding-right: 1rem;
	border-right: var( --border-base );
	margin-right: 1rem;
	font-size: 1.2rem;
}

.cover-item meter {
	width: 100px;
	margin-right: 1rem;
}

.cover-item-meter span {
	/* align edges */
	min-width: 3rem;
	display: inline-block;
}
