/* Override Bootstrap ".nav>li>a" selector */
.cover-list .cover-item {
	display: flex;
}

.cover-item .progress {
	display: inline-block;
	order: -1;
	vertical-align: middle;
	width: 100px;
	margin-right: 1em;
	/* Override Bootstrap ".progress" margin */
	margin-bottom: 0;
}
